/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  font-family: 'Sansita One', cursive;
  box-sizing: border-box;
  color: #FFF3F4;
  padding: 0;
  margin: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #FF7078;
}

nav {
  position: absolute;
  width: 250px;
  height: 100%;
  left: 0;
  background: linear-gradient(90deg, #7F272C, #FF7078);
  text-align: center;
}

h1.big_kiss {
  position: fixed;
  left: 0;
  top: 210px;
  font-size: 16em;
  line-height: 0.95;
  position: fixed;
  z-index: -1;
  opacity: 0.4;
  transform: rotate(-90deg);
}

div.yield {
  width: 65%;
  height: 100%;
  float: right;
  position: relative;
  padding: 2%;
}

img.lips1 {
  z-index: -1;
  position: fixed;
  transform: rotate(35deg);
  right: 0;
  top: 0;
  opacity: 0.6;
}

/* ----------------------
-------- NAV BAR --------
-----------------------*/

div#logo {
  margin: 5% auto;
  width: 70%;
  height: 20%;
  outline-style: none;
}

img.lips3 {
  width: 100%;
  transform: rotate(-7deg);
}

div#logo h1 {
  font-family: 'Cedarville Cursive', cursive;
  font-size: 2.25em;
  text-shadow: 2px 2px #6E2226;
  position: fixed;
  top: 0;
  margin: 4.25% 2% 0 4%;
}

div#logo a:link,
div#logo a:active,
div#logo a:visited {   text-decoration: none;   color: #FFF3F4;
  font-family: 'Cedarville Cursive', cursive;
  font-size: 22px;
  color: #FF7078;
  margin: 0 auto 0 auto;
  text-align: center;
}

button#categories {
  position: relative;
  margin: 100px auto auto;
}

img.lips2 {
  position: absolute;
  transform: rotate(-35deg);
  bottom: 0;
  left: 0;
  margin-left: -20%;
  margin-bottom: -45%;
  width: 340px;
  opacity: 0.3;
}
