/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  font-family: 'Sansita One', cursive;
  box-sizing: border-box;
  color: #FFF3F4;
  height: 100vh;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  height: 480px;
  background-color: #FF7078;
}

/* ----------------------
---------- LOGO ---------
-----------------------*/

div.logo_wrap {
  height: 20%;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: auto;
  text-align: center;
  overflow: visible;
}

button#logo {
  background-color: #FFF3F4;
  border: 1px solid #7F272C;
  border-radius: 100%;
  margin: -1em auto;
  width: 70px;
  height: 70px;
  box-shadow: 2px 6px #CCC2C3;
  outline-style: none;
}

button#logo a:link,
button#logo a:active,
button#logo a:visited {   text-decoration: none;   color: #FFF3F4;
  font-family: 'Cedarville Cursive', cursive;
  font-size: 22px;
  color: #FF7078;
  margin: 0 auto 0 auto;
  text-align: center;
}

button#logo:active {
  box-shadow: 0px 2px #CCC2C3;
  transform: translateY(3px);
}
