// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  font-family: 'Sansita One', cursive;
  box-sizing: border-box;
}

body {
  background-color: #FF7078;
  color: #FFF3F4;
}

.category_wrap {

  overflow: auto;
}

/* ----------------------
-------- BUTTONS --------
-----------------------*/
a:link,
a:active,
a:visited {
  text-decoration: none;
  color: #FFF3F4;
  font-size: 10em;
}

button#category {
  display: block;
  margin: 5% auto 5% auto;
  max-width: 90%;
  background-color: #7F272C;
  border-radius: 12px;
  border: none;
  box-shadow: 0px 15px #CCC2C3;
}

button#category:active {
  box-shadow: 0px 10px #CCC2C3;
  transform: translateY(5px);
}
