// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* ----------------------
-------- BUTTONS --------
-----------------------*/

div#category_wrap {
  padding-top: 3%;
  height: 80%;
}

a:link,
a:active,
a:visited {
  text-decoration: none;
  color: #FFF3F4;
  font-size: 40px;
}

button#category {
  display: block;
  margin: 8% auto;
  width: 80%;
  max-width: 90%;
  height: 15%;
  background-color: #7F272C;
  border-radius: 12px;
  border: none;
  box-shadow: 0px 8px #CCC2C3;
  outline-style: none;
}

button#category:active {
  box-shadow: 0px 3px #CCC2C3;
  transform: translateY(5px);
}
