// Place all the styles related to the kisses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* ----------------------
-------- BUTTONS --------
-----------------------*/

a:link,
a:active,
a:visited {
  text-decoration: none;
  color: #FFF3F4;
  font-size: 40px;
}

button#kiss_generator,
button#home {
  display: block;
  width: 30%;
  height: 12%;
  margin: 20px auto;
  background-color: #7F272C;
  border-radius: 12px;
  border: none;
  box-shadow: 0px 15px #CCC2C3;
  outline-style: none;
  color: #FFF3F4;
  font-size: 40px;
}

button#kiss_generator:active,
button#home:active {
  box-shadow: 0px 10px #CCC2C3;
  transform: translateY(5px);
}

/* ----------------------
--------- KISSES --------
-----------------------*/

div#kiss {
  height: 65vh;
  position: relative;
  overflow: hidden;
}

div#kiss p {
  font-size: 8em;
  text-align: center;
  margin: 10% auto;
}
