<div class="category_title">
  <h2><%=@category.name %></h2>
</div>

<div id='kiss'>
  <p></p>
</div>

<div class="kiss_generator_wrapper">
  <div id="kiss_generator">
    <img class="lips4" src="http://66.media.tumblr.com/25a4214733ebd8d62dba20e8bbbce0c3/tumblr_mk19vsmgYs1rkfhmbo1_500.png">
    <h1>Kiss me, you fool!</h1>
  </div>
</div>
